@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans serif;
  padding: 20px;
}

h1 {
  padding-top: 9px;
  margin: 0px;
}

p {
  padding-top: 10px;
  font-weight: 500;
}
p:nth-child(1){
  font-weight: 500;
}
p:nth-child(2){
  font-weight: 400;
}
p:nth-child(3){
  font-weight: 300;
}

.icon-pane{
  text-align: center;
  margin: 10px;
}
i{
  margin-right: 10px;
  margin-left: 10px;
}
.icon-link,.icon-link:visited{
  padding-bottom: 0px;
  color: black;
  transition: padding-bottom .4s cubic-bezier(0, 1.8, 1, 1.8); 
}
.icon-link:hover{
  color:grey;
  padding-bottom:10px;
}

.float-banner {
  margin-top: -10px;
  padding-bottom: 5px;
}

.education-layer {
  background-color: #F4D03F;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.education-pane {
  background-color: #D35400;
  border-radius: 3px;
  color: white;
  font-size: 1.1em;
}

.quick-info-text {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.main-bio-pane {
  background-color: #D64541;
  overflow: hidden;
  border-radius: 3px;
  color: white;
}

.restrict-width {
  max-width: 100%;
}

.lang-pane {
  background-color: #ecf0f1;
  border-radius: 3px;
}

.header-bar {
  background-color: #446CB3;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 2em;
  height: 60px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 60px;
}

.header-bar.hydra-header {
  background-color: #D64541;
}

.hydra-pane {
  background-color: #ecf0f1;
  font-size: 1.2em;
  margin: 0;
}

.card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pane-pad {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lang-graphic {
  padding-top: 10px;
}

.lang-tagbox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.tag {
  padding: 5px;
  margin: 3px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 10px 5px 10px 5px;
  box-shadow: -3px 3px 5px #888;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  text-shadow: 3px, 3px, #fff;
}
#printer-card{
  background-color: tomato;
  color: white;
}
#contact-bar{
  background-color: #D64541;
}

#java {
  background-color: #C0272D;
}

#android {
  background-color: #8BC540;
}

#python {
  background-color: #F9BF3B;
}

#javascript {
  background-color: #E87E04;
}

#arduino {
  background-color: #89C4F4;
}

#html {
  background-color: #EC644B;
}

#css {
  background-color: #336E7B;
}